/* FileUploader.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Add this new class */
.page-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent scrolling */
}

/* Update existing styles to fit in the new layout */
.section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* Dropzone styling */
.dropzone {
    width: 300px;
    height: 150px;
    border-width: 2px;
    border-radius: 8px;
    border-color: #ccc;
    border-style: dashed;
    background-color: #fff;
    color: #333;
    outline: none;
    transition: border .24s ease-in-out, background-color .24s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropzone:hover {
    border-color: #888;
    background-color: #f9f9f9;
}

/* Inner dropzone styling */
.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Text styling */
.text {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.check-icon {
    color: #28a745;
    margin-top: 10px;
}

.upload-icon {
    font-size: 30px;
}

.file-name {
    font-size: 12px;
    color: #333;
    margin-top: 5px;
}

/* Button styling */
.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    transition: background-color .24s ease-in-out;
}

.button:hover {
    background-color: #0056b3;
}

/* SF (Servicios Financieros) heading styling */
.sf {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Submit button styling */
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    transition: background-color .24s ease-in-out;
}

.submit:hover {
    background-color: #218838;
}

.line-separator {
    display: flex;
    width: 80%;
    border-top: 1px solid #000000;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
}

.prompt-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.prompt-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 500px;
    margin-bottom: 10px;
}

/* Propmp input style */
.prompt-input {
    flex: 1;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.prompt-title {
    margin-bottom: 40px;
    margin-top: 40px;
}

/* Prompt label style */
.prompt-label {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    color: #333;
    flex: 1;
    margin-left: 100px;
}

.upload-result {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}

.table-heading {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 10px;
}
